.main-wrapper {
    display: flex;
    margin-top: 75px;
    padding: 10px;
    @media screen and (max-width: @desktop-breakpoint) {
        flex-direction: column
    }
    @media screen and (min-width: @desktop-breakpoint) {
        flex-direction: row
    }
    .events-wrapper {
        width: 100%;
        @media screen and (min-width: @desktop-breakpoint) {
            float: right;
            margin-left: 300px;
            margin-top: -10px;
        }        
        a {
            color: @dark-blue
        }
    }
}