.search-form {
    .icon {
        position: relative;
        right: 10px;
    }

    .mobile-search-wrapper {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 75px;
        left: 0;
        height: 100vh;
        width: 100vw;
        background: white;

        .mobile-search {
            top: 100px;
            position: absolute;
        }

        .input-mobile {
            position: relative;
            height: 60px;
            width: 210px;
            font-size: 25px;
        }
        .mobile-search-icon {
            position: absolute;
            top: 8%;
            right: -27%;
            color: #a9a9a9;
        }
    }    
}